@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 0.3rem;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--b3) / 0.25);
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--b3));
  }
}

@layer components {
  .grid-gallery {
    grid-template-areas:
      "img1 img1 img1 img1 img1 img1 img2 img2 img2 img2 img2 img2"
      "img3 img3 img3 img3 img3 img3 img3 img3 img3 img3 img3 img3"
      "img4 img4 img4 img4 img4 img4 img5 img5 img5 img5 img5 img5";
  }

  @media screen and (min-width: 768px) {
    .grid-gallery {
      grid-template-areas:
        "img3 img3 img3 img3 img3 img3 img1 img1 img1 img2 img2 img2"
        "img3 img3 img3 img3 img3 img3 img4 img4 img4 img5 img5 img5";
    }
  }
}

@layer utilities {
  .centered-axis-payment {
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .tab.tab-active:not(.tab-disabled):not([disabled]) {
    border-color: #ffabbf;
  }

  .input-error {
    @apply border-red-500;
  }
}
